/* Container for the whole grid */
.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;
}

.Property-Card .card-wrapper {
  background: #fff;
  /* border-radius: 4px; */
  overflow: hidden;
  max-width: 420px;
  margin: 0 auto;
}

/* Image Section */
.Property-Card .card-image-container {
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.Property-Card .badge {
  background-color: #74d59b;
  color: white;
  padding: 6px 12px;
  font-size: 11px;
  font-weight: bold;
  width: fit-content;
  /* border-radius: 2px; */
}

.Property-Card .price-overlay {
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.Property-Card .price-label {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.Property-Card .price-amount {
  margin: 5px 0 0 0;
  font-size: 28px;
  font-weight: bold;
}
.Property-Card .price-amount span {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

/* Specs Bar */
.Property-Card .card-specs {
  display: flex;
  padding: 0.8em 0;
  gap: 0.5em;
}

.Property-Card .spec-item {
  padding: 0.5em;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f6f7;
  /* border-radius: 5px; */
}

.Property-Card .spec-item:last-child {
  border-right: none;
}

/* Text Content */
.Property-Card .card-info {
  padding: 10px 0;
}

.Property-Card .villa-name {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  color: #1a1a1a;
}

.Property-Card .villa-location {
  margin: 0;
  color: #999;
  font-size: 16px;
}
