/* Mobile First Base */
.App-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  z-index: 100;
}

.App-header .App-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  min-height: 64px;
  margin: 0 auto;
}

.App-header .App-header-logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 1em;
  background-color: #fff;
}

.App-header .App-header-brand {
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: -1px;
  color: #000;
}

/* Mobile Nav Logic */
.App-header .App-header-nav {
  display: none;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Simple Hamburger Icon */
.App-header .App-header-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 14vw;
  height: 8vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.App-header .App-header-burger {
  width: 25px;
  height: 25px;
  position: relative;
}

.App-header .App-header-nav.active {
  display: block;
}

.App-header .App-header-nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.App-header .App-header-nav li {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.App-header .App-header-active {
  color: #8da9ad !important;
}

/* Utils and Icons */
.App-header .App-header-utils {
  display: none; /* Hidden on mobile */
}

/* Desktop Media Query */
@media (min-width: 1024px) {
  .App-header .App-header-container {
    height: 10vh;
  }

  .App-header .App-header-logo {
    width: 30vw;
    justify-content: center;
    padding: 0;
    /* border-right: 1px solid #000; */
  }

  .App-header .App-header-brand {
    font-size: 2vw;
  }

  .App-header .App-header-toggle {
    display: none !important;
  }

  .App-header .App-header-nav {
    display: flex;
    justify-content: center;
    position: static;
    width: 55vw;
    height: 100%;
    box-shadow: none;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  .App-header .App-header-nav ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: auto 0;
  }

  .App-header .App-header-utils {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
  }

  .App-header .App-header-phone {
    font-size: 1vw;
    color: #999;
  }

  .App-header .App-header-phone strong {
    color: #8da9ad;
    margin-left: 4px;
  }

  .App-header .App-header-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
}
